body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	word-wrap: break-word;
	font-size: 2rem;
	background-color: black;
}

.content-wrapper {
	margin: 0 auto;
	display: flex;
	align-items: center;
	height: 100vh;
	background-color: white;
}

.answer-wrapper {
	text-align: center;
	margin: 0 5vw;
	width: 100%;
}

.answer-button:hover {
	color: rgb(14, 144, 243);
	cursor: pointer;
}

.bird {
	margin-right: -10vw;
	width: 40vw;
	max-width: 400px;
	display: grid;
	grid-template-areas: 'overlayBird';
}

.bird-image-1 {
	grid-area: overlayBird;
}

.bird-image-2 {
	grid-area: overlayBird;
	visibility: hidden;
}

button {
	background-color: none;
}

.answer-text {
	visibility: hidden;
}

@media screen and (max-width: 590px) {
	.content-wrapper {
		font-size: 1.5rem;
		margin: 0;
		display: flex;
		align-items: center;
		height: 100vh;
		width: 100vw;
		background-color: white;
	}

	.answer-wrapper {
		width: 100%;
	}

	.bird {
		width: 40vw;
		display: grid;
		grid-template-areas: 'overlayBird';
	}

	.bird-image-1 {
		grid-area: overlayBird;
		width: 50vw;
	}

	.bird-image-2 {
		grid-area: overlayBird;
		visibility: hidden;
		width: 50vw;
	}
}

.credit {
	margin: 0 1rem;
	position: fixed;
	bottom: 1vh;
	font-size: 1rem;
}
